<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>
        {% if title %}
            PixelZ | {{ title }}
        {% else %}
            PixelZ
        {% endif %}
    </title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="p-3 m-0 border-0 bd-example m-0 border-0">

    
    <nav class="navbar fixed-top bg-dark-subtle">
      <div class="container-fluid">
        <a class="navbar-brand mx-auto p-2" href="/">PixelZ</a>
      </div>
    </nav>
    
    {% block content %}
    {% endblock %}
  </body>
</html>